@import 'slider-block';

.container-category {
    position: relative;
    top: -80px;
    display: flex;
    width: $width-content;
    height: 1146px;
    
    .category-books {
        width: 416px;
        height: 710px;
        background-color: $category-background;

        .category-books_list {
            position: relative;
            top: 30px;
            left: 88px;
            list-style: none;
            cursor: pointer;

            .category-books_item {
                padding: 11px;
                @include montserrat-normal;
                font-weight: $font-500;
                font-size: 12px;
                line-height: 15px;
                color: $grey-font;
            }
        }
    }

    .showecase-books {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: -60px;
        width: 1024px;
        height: 1146px;
        border: $border;

        .book-position {
            width: 450px;
            height: 368px;
            border: $border;

            .book {
                margin-top: 40px;
                width: 212px;
                height: 320px;
            }
        }
    }
}

.btn {
    position: relative;
    top: -40px;
    left: 741px;
    @include button;
}

