@import 'slider-block';

.container-category {
    position: relative;
    top: -80px;
    display: flex;
    width: $width-content;
    max-height: 10146px;
    
    .category-books {
        width: 416px;
        height: 710px;
        background-color: $category-background;

        .category-books_list {
            position: relative;
            top: 30px;
            left: 88px;
            list-style: none;
            cursor: pointer;

            .category-books_item {
                padding: 11px;
                @include montserrat-normal;
                font-weight: $font-500;
                font-size: 12px;
                line-height: 15px;
                color: $grey-font;
            }

            .category-books_item {

                &.active {
                    position: relative;
                    margin-left: -17px;
                    @include montserrat-bold;
                    font-weight: $font-700;
                    color: $bold-font;
                    list-style: inside;
                }
            }
        }
    }

    .showecase-books {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        left: -60px;
        width: 1024px;
        max-height: 10146px;

        .book-position {
            display: flex;
            width: 450px;
            height: 368px;

            .book-position_image {
                margin-top: 40px;
                width: 212px;
                height: 310px;
                box-shadow: 5px 15px 5px rgba(0,0,0,.3);
            }

            .book-position_image-none {
                margin-top: 40px;
                width: 212px;
                height: 310px;
                font-size: 0;
                background-size: cover;
                box-shadow: 5px 15px 5px rgba(0,0,0,.3);
                background-image: url(../images/images\ placeholder.jpeg) ;
            }

            .book-position_info {
                position:relative;
                margin-top: 40px;
                width: 212px;
                height: 310px;

                .book-position_info-author {
                    @include opensans-normal;
                    font-weight: $font-400;
                    padding: 40px 0px 0px 25px;
                    font-size: 10px;
                    line-height: 14px;
                    text-transform: capitalize;
                    color: $grey-font;
                }

                .book-position_info-title {
                    @include montserrat-bold;
                    width: 176px;
                    max-height: 62px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 4px 0px 0px 25px;
                    font-weight: $font-700;
                    font-size: 16px;
                    line-height: 20px;
                    color: $bold-font;
                }

                .rating-block-none {
                    display: none;
                }

                .rating-block {
                    display: flex;
                    align-items: center;
                    margin: 4px 0px 0px 25px;
                    width: 176px;
                    height: 15px;
                    
                    .rating-block_stars {
                        @include rating-block-size;
                        font-weight: $font-400;
                        font-size: 10px;
                        line-height: 14px;
                        color: $grey-font;

                        .rating-block_stars__one {
                            display: flex;
                            @include rating-block-size;

                            .rating-block_stars__yellow {
                                @include stars-yellow;
                            }

                            .rating-block_stars__grey {
                                @include stars-grey;
                            }
                        }

                        .rating-block_stars__two {
                            display: flex;
                            @include rating-block-size;

                            .rating-block_stars__yellow {
                                @include stars-yellow;
                            }

                            .rating-block_stars__grey {
                                @include stars-grey;
                            }  
                        }

                        .rating-block_stars__three {
                            display: flex;
                            @include rating-block-size;

                            .rating-block_stars__yellow {
                                @include stars-yellow;
                            }

                            .rating-block_stars__grey {
                                @include stars-grey;
                            }  
                        }

                        .rating-block_stars__four {
                            display: flex;
                            @include rating-block-size;

                            .rating-block_stars__yellow {
                                @include stars-yellow;
                            }

                            .rating-block_stars__grey {
                                @include stars-grey;
                            }  
                        }

                        .rating-block_stars__five {
                            display: flex;
                            @include rating-block-size;

                            .rating-block_stars__yellow {
                                @include stars-yellow;
                            }

                            .rating-block_stars__grey {
                                @include stars-grey;
                            }   
                        }
                    }

                    .rating-block-stars-none {
                        display: none;
                    }

                    .rating-block_count {
                        @include opensans-normal;
                        margin-left: 6px;
                        width: 100px;
                        height: 15px;
                        font-weight: $font-400;
                        font-size: 10px;
                        line-height: 14px;
                        color: $grey-font;
                    }

                    .rating-block_count-none {
                        display: none;
                    }
                }

                .book-position_info-description {
                    @include opensans-normal;
                    width: 176px;
                    height: 42px;
                    margin: 17px 0px 0px 25px;
                    font-weight: $font-400;
                    font-size: 10px;
                    line-height: 14px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    color: $grey-font;
                }

                .book-position_info-description-none {
                    display: none;
                }

                .book-position_info-sale {
                    @include montserrat-bold;
                    position: absolute;
                    bottom: 90px;
                    width: 170px;
                    height: 18px;
                    margin: 16px 0px 0px 25px;
                    font-weight: $font-700;
                    font-size: 13px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: $bold-font;
                }

                .book-position_info-sale-none {
                    display: none;
                }

                .btn_buy-now {
                    @include button;
                    position: absolute;
                    bottom: 30px;
                    margin: 16px 0px 0px 25px;
                }

                .btn_in_the_cart {
                    @include button-in-the-cart;
                    position: absolute;
                    bottom: 30px;
                    margin: 16px 0px 0px 25px;
                }
            }
        }
    }
}

.btn_load-more {
    position: relative;
    top: -40px;
    left: 741px;
    @include button;
}



