@import 'slider-block';

.container-books {
    display: flex;
    @include position-blocks;
    width: $width-content;
    height: 1353px;

    .category-books {
        width: 416px;
        height: 710px;
        background-color: #EFEEF6;

        .category-books_list {
            list-style: none;
            cursor: pointer;

            .category-books_item {
                @include montserrat-normal;
                font-weight: $font-500;
                color: #5C6A79;
            }
        }
    }

    .price-books {
        position: relative;
        left: -60px;
        width: 1084px;
        height: 1353px;
        border: $border;
    }
}