
@import 'navigation';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $width-content;
    max-height: $height-content-main;
    
    .container-slider {
        position: relative;
        top: 110px;
        width: 1120px;
        height: 702px;
        border: $border;
    }

    .container-dots {
        position: relative;
        top: 110px;
        width: $width-content;
        height: 134px;
        border: $border;
    }
}

.container-slider .image{
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 1120px;
    height: 702px;
    opacity: 0;
    transition: opacity 800ms ease;

    
}

.container-slider .image.active{
    opacity: 1;
  }