@mixin nav-links-text {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    list-style: none;
}

@mixin navigation-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin nav-info-setting {
    border: none;
    cursor: pointer;
    background-color: white;
                
}

@mixin position-blocks {
    position: relative;
    top: 110px;
}

@mixin montserrat-normal {
    font-family: 'Montserrat';
    font-style: normal;
}

@mixin opensans-normal {
    font-family: 'OpenSans';
    font-style: normal;
}