@mixin nav-links-text {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    list-style: none;
}

@mixin navigation-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin nav-info-setting {
    border: none;
    cursor: pointer;
    background-color: white;
                
}

@mixin position-blocks {
    position: relative;
    top: 110px;
}

@mixin montserrat-normal {
    font-family: 'Montserrat';
    font-style: normal;
}

@mixin montserrat-bold {
    font-family: 'Montserrat-B';
    font-style: bold;
}

@mixin opensans-normal {
    font-family: 'OpenSans';
    font-style: normal;
}

@mixin button {
    background-color: whitesmoke;
    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    color:  #4C3DB2;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin button-in-the-cart {
    background-color: whitesmoke;
    width: 176px;
    height: 45px;
    border: 1px solid  #5C6A79;
    color:  #5C6A79;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin stars-yellow {
    width: 12PX;
    height: 12PX;
    background-image: url(../svg/Star\ yellow.svg);
}

@mixin stars-grey {
    width: 12PX;
    height: 12PX;
    background-image: url(../svg/Star\ grey.svg);
}

@mixin rating-block-size {
    width: 65px;
    height: 15px;
}