@mixin nav-links-text {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    list-style: none;
}

@mixin navigation-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin nav-info-setting {
    border: none;
    cursor: pointer;
    background-color: white;
                
}