@import 'variables';
@import 'mixines';
@import 'fonts';

* {
    box-sizing: border-box;
}

.navigation {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: $width-content;
    height: 116px;
    background-color: $nav-background;
    z-index: 1;
    
        .nav-logo {
            width: 128px;
            height: 29px;
        }

        .nav-logo__font {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: $nav-bold-font;
        }

        .nav-links {
            @include navigation-flex;
            width:371px;
            height: 12px;
            padding: 0px;

            .nav-links_item-books {
                font-family: 'Montserrat-B';
                font-style: normal;
                font-weight: 900;
                @include nav-links-text;
                
                    .nav-links__decoration-books {
                        text-decoration: none;
                        cursor: pointer;
                        color: $nav-bold-font;
                    }
            }
    
            .nav-links_items {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                @include nav-links-text;
                
                    .nav-links__decoration-items {
                        text-decoration: none;
                        cursor: pointer;
                        color: $nav-link-font;
                    }
            }
        }

        .nav-info {
            @include navigation-flex;
            width: 121px;
            height: 13px;
        
            .nav-info_user {
                width: 12px;
                height: 15px;
                @include nav-info-setting;
                background-image: url(../svg/user.svg);
            }

            .nav-info_search {
                width: 15px;
                height: 14.71px;
                @include nav-info-setting;
                background-image: url(../svg/search.svg);
            }

            .nav-info_cart {
                width: 13.68px;
                height: 17px;
                @include nav-info-setting;
                background-image: url(../svg/shop\ bag.svg);
            }
        }
}


