
@import 'navigation-block';

.main {
    @include position-blocks;
    display: flex;
    flex-wrap: wrap;
    width: $width-content;
    height: $height-content-main;
    background-color: $main-background;
    
    .container-slider {
        position: relative;
        left: 160px;
        width: 1120px;
        height: 702px;
    }

    .container-dots {
        position: relative;
        top: -40px;
        width: $width-content;
        height: 134px;
    }
}

.container-slider {

    .image{
        position: absolute;
        background-size: cover;
        background-position: center;
        width: 1120px;
        height: 702px;
        opacity: 0;
        transition: opacity 800ms ease;

    }
}

.container-slider {
    background-color: #FFE0E2;

    .image {

        &.active{
        opacity: 1;
        }
    }
}

.promo {
   position: relative;
    left: 160px;
    width: 160px;
    height: 702px;

    .promo_link {
        display: block;
        cursor: pointer;
    
        .promo_1 {
        position: relative;
        background-size: cover;
        top: 99px;
        right: 74px;
        width: 149px;
        height: 204px;
        background-image: url(../images/promo\ 1.png);
        }

        .promo_2 {
            position: relative;
            background-size: cover;
            top: 136px;
            left: 5px;
            width: 137px;
            height: 273px;
            background-image: url(../images/promo\ 2.png);
        }
    }  
}

.container-dots {
    display: flex;
    justify-content: center;
    column-gap: 10PX;

    .dot {
        position: relative;
        top: 17PX;
        width: 12px;
        height: 12px;
        background-image: url(../svg/Dotgrey.svg);
        cursor: pointer;
    }
}

.dot {

    &.active {
    background-image: url(../svg/Dotdarkgrey.svg);
    }
}

