
$width-content: 1440px;
$border: 1px solid black;
$height-content-main: 2189px;
$nav-background: white;
$main-background: whitesmoke;
$category-background: #EFEEF6;
$bold-font: #1C2A39;
$grey-font: #5C6A79;
$white-color: white;
$red-color: red;
$font-400: 400;
$font-500: 500;
$font-700: 700;
$font-900: 900;